<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org" >
<meta charset="UTF-8">
<title>Success</title>
<h1>Hello, From Secured End Point</h1>
<script>
    var token = [[${jwtToken}]];
    window.localStorage.setItem('jwtToken', token);

    fetch('/api/auth/log-in', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'Authorization': 'Bearer ' + token
        }
    })
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json();
        })
        .then(data => {
            console.log(data);
        })
        .catch(error => {
            console.error('There was a problem with the fetch operation:', error);
        });
</script>
</head>
<body>
</body>
</html>